# Diretórios de build e IDE
target/
.idea/
*.iml
*.iws
*.ipr

# Git
.git/
.gitignore
.gitattributes

# Docker
Dockerfile
docker-compose*.yml
.dockerignore

# Documentação
README.md
HELP.md
LICENSE

# Logs e temporários
*.log
*.tmp
*.swp
*.bak
